---
interface Props {
  domain?: string;
  stack?: string[];
  linkable?: boolean;
}

const { domain, stack = [], linkable = true } = Astro.props;
---

<div class="tags">
  {domain && (
    linkable
      ? <a href={`/domain/${domain}`} class="tag domain">{domain}</a>
      : <span class="tag domain">{domain}</span>
  )}
  {stack.map(item =>
    linkable
      ? <a href={`/stack/${item}`} class="tag stack">{item}</a>
      : <span class="tag stack">{item}</span>
  )}
</div>
